.all-container
    background linear-gradient(to right bottom, #aa0000, #5500bb)
    width 100vw
    height 100vh

:host
    router-outlet
        width 100%
        height 100%

    app-navigation-bar
        width 100%
        max-width 796px
        margin 0 auto

    .spacer
        height: 64px;
