:host
    color white
    border-bottom 2px solid white
    height 64px
    display flex
    flex-direction row
    justify-content space-between
    align-items center
    width 100%

    .title
        font-weight bold
        font-size 24px
        margin-left 16px
        cursor pointer

    .links
        list-style-type none
        text-align right

        li
            float left
            display block
            color white
            text-align center
            margin 0px 16px
            text-decoration none
            cursor pointer
