.all-container
    display: flex
    width 100vw
    height 100vh
    background linear-gradient(to right bottom, #aa0000, #5500bb)
    align-items center

.box
    margin 0 auto
    max-width 100%
    width 384px

    h1
        color white
