.all-container
    display: flex
    width 100vw
    height 100vh
    background linear-gradient(to right bottom, #aa0000, #5500bb)
    align-items center

.box
    margin 0 auto
    min-width: 384px;
    max-width: 100%;

    h1
        color white
