:host
    background transparent
    display flex
    align-items center

div
    margin 0 auto

p
    max-width 512px

.heart-button
    display block
    border-radius 100%
    box-shadow 0 32px 32px rgba(0, 0, 0, 0.25)
    background transparent
    border 64px solid white
    height 512px
    width 512px
    max-width 100%
    margin 0 auto

    img
        margin 0 auto
        height 96px
        width 96px
