h1 Welcome!

div.card 
    h2 Create an account

    input.wide([(ngModel)]="username", placeholder="Username")
    input.wide([(ngModel)]="password", placeholder="Password", type="password")
    input.wide([(ngModel)]="passwordConfirm", placeholder="Confirm password", type="password")

    small
        p#error {{ errors }}

.actions
    button((click)="goToSignin()") Sign in instead
    button((click)="submit()") Submit
